h1 {
    font-family: Segoe UI;
}

.input-container {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.input-label {
    margin-right: 10px;
    font-weight: bold;
}

#pie-chart {
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

.field{
    font-family: Segoe UI;
}