.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.input-label {
    margin-right: 10px;
    font-weight: bold;
}

#pie-chart {
    width: 200px;
    height: 200px;
    margin-left: 50px;
}